<% include partials/header %>

<div class = "container-fluid">
<a href="/login/facebook" class="btn btn-primary m-2" style="width: 175px;">Log In with Facebook</a>
</div>
<div class = "container-fluid">
<a href="/login/google" class="btn btn-primary m-2" style="width: 175px;">Log In with Google</a>
</div>

<% include partials/footer %>